six
Faker
pillow
markdown
python-dateutil
pytz
DateTime

django ~= 4.2.10
django-environ
django-filter
django-allauth == 0.55.0
django-resized
python-decouple
django-crispy-forms
djangorestframework
dj-rest-auth
django-ckeditor-5
django-widget-tweaks

crispy-bootstrap5
django-browser-reload
drf-yasg
django-phonenumber-field[phonenumbers]
django-jazzmin
openmeteo-requests
requests-cache 
retry-requests 
numpy 
pandas