{% extends 'website/base.html' %}
{% load core_tags %}
{% load static %}

{% block title %}
    Attractions Details
{% endblock title %}


{% block style %}


    
{% endblock style %}
    

{% block content %}

<!--==================================================-->
<!-- Start Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 text-center">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>{{ object.name }} Attractions</h4>
					</div>
					<ul>
						<li><a href="#"><img src="{% static 'website/images/inner-images/breadcumb-text-shape.png' %}" alt="">Galiyat</a></li>
						<li>{{ object.name }} Details</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Breadcumb Area -->
<!--==================================================-->

<section class="attractions-details-section">
    <div class="container py-5"> 
        <div class="row">
        <div class="col-lg-8">
				<div class="row">
					<div class="col-lg-12">
						<div class="blog-details-content">
							<div class="meta-blog">
								<span><img src="{{ object.thumbnail|image_or_placeholder }}" alt=""></span>
							</div>

							<p class="blog-details-desc">{{ object.description }}</p>

						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4">
				<div class="row">
					<div class="col-lg-12">
						<div class="widget-sidber">
						   <div class="widget_search">
						     <form action="#" method="get">
						    	<input type="text" name="s" value="" placeholder="Search Here" title="Search for:">
						    	<button type="submit" class="icons">
						    		<i class="fa fa-search"></i>
						    	</button>
						     </form>
				    	   </div>
				    	</div>
				    	<div class="widget-sidber">
							<div class="widget-sidber-content">
								<h4>Categories</h4>
							</div>
							<div class="widget-category">
								<ul>
									<li><a href="#"><img src="assets/images/inner-images/category-icon.png" alt="">Ocean Cleaning<i class="bi bi-arrow-right"></i></a></li>
									<li><a href="#"><img src="assets/images/inner-images/category-icon.png" alt="">Dust Recycling<i class="bi bi-arrow-right"></i></a></li>
									<li><a href="#"><img src="assets/images/inner-images/category-icon.png" alt="">Plant Seedlings<i class="bi bi-arrow-right"></i></a></li>
									<li><a href="#"><img src="assets/images/inner-images/category-icon.png" alt="">Renewable Energy<i class="bi bi-arrow-right"></i></a></li>
									<li><a href="#"><img src="assets/images/inner-images/category-icon.png" alt="">Environmental<i class="bi bi-arrow-right"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="widget-sidber">
							<div class="widget-sidber-content">
								<h4>Popular Post</h4>
							</div>
							<div class="sidber-widget-recent-post">
								<div class="recent-widget-thumb">
									<img src="assets/images/inner-images/recent-post-1.png" alt="">
								</div>
								<div class="recent-widget-content">
									<a href="#">Dramatically Architect new model before...</a>
									<p> Jan, 26 2024</p>
								</div>
							</div>
							<div class="sidber-widget-recent-post">
								<div class="recent-widget-thumb">
									<img src="assets/images/inner-images/recent-post-2.png" alt="">
								</div>
								<div class="recent-widget-content">
									<a href="#">Progressively Syndicate Vista Seamless...</a>
									<p> Jan, 26 2024</p>
								</div>
							</div>
							<div class="sidber-widget-recent-post">
								<div class="recent-widget-thumb">
									<img src="assets/images/inner-images/recent-post-3.png" alt="">
								</div>
								<div class="recent-widget-content">
									<a href="#">Completely Leverage Existing Customer...</a>
									<p> Jan, 26 2024</p>
								</div>
							</div>
						</div>
						<div class="widget-sidber">
							<div class="widget-sidber-content">
								<h4>Tags</h4>
							</div>
							<div class="widget-catefories-tags">
                                <a href="#">Environmental</a>
                                <a href="#">Ecology</a>
                                <a href="#">Seedlings</a>
                                <a href="#">Tree Plantation</a>
                                <a href="#">Recycling</a>
                                <a href="#">Cleaning</a>
                            </div>
						</div>
					</div>
				</div>
			</div>

        </div>
    </div>

    

</section>

    
    {% endblock content %}
    