{% extends 'website/base.html' %}
{% load core_tags %}
{% load static %}

{% block title %} Department Details {% endblock title %}



{% block content %}


    <!--==================================================-->
    <!-- Start Breadcumb Area -->
    <!--==================================================-->
    <div class="breadcumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="breadcumb-content">
                        <div class="breadcumb-title">
                            <img src="{{ area_name.image|image_or_placeholder }}"
                                 style="height: 100px;border-radius: 30px" class="img-rounded">
                            <h4>{{ object.name }} Attractions</h4>
                        </div>
                        <ul>
                            <li><a href="#"><img
                                    src="{% static 'website/images/inner-images/breadcumb-text-shape.png' %}" alt="">Galiyat</a>
                            </li>
                            <li>{{ object.name }} Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Breadcumb Area -->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Details Area-->
    <!--==================================================-->

    <div class="project-details-area mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-details-thumb">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="project-details-content">
                                <h4>About Our Department</h4>
                                {{ department.description | safe }}
                                <h3>More Details</h3>
                                <p class="project-details-desc">{{ department.content|safe }}</p>


                                <a class="project-details-text" href="#">Our Mission</a>

                                <p class="project-details-desc">{{ department.mission_statement }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Details Area-->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Departments Area -->
    <!--==================================================-->

    <div class=" home-six">

        <div class="container " style="margin-top: 100px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title center">
                        <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">More Departments
                        </h4>
                        <h1>More Department Of Galiyat</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for object in departments %}
                    <div class="col-lg-4 col-md-6  mb-4 card-length">
                        <div class="single-blog-box">
                            <div class="blog-thumb">
                                <img src="{{ object.image|image_or_placeholder }}" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-text">
                                    <span>{{ object.category }}</span>
                                </div>
                                <a href="{% url 'departments:department_detail' object.slug %}">{{ object.name }}</a>
                                <p>{{ object.description|slice:100 }}...</p>

                                <div class="blog-button">
                                    <a href="{% url 'departments:department_detail' object.slug %}">Explore
                                        More<i class="bi bi-arrow-right-short"></i></a>
                                </div>
                            </div>
                            <div class="meta-blog">
                                <span>{{ object.created_at.date }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock content %}
    