{% extends 'website/base.html' %}
{% load static %}
{% load core_tags %}



{% block title %} Event Details {% endblock title %}


{% block content %}


    <!--==================================================-->
    <!-- Start  Breadcumb Area -->
    <!--==================================================-->
    <div class="breadcumb-area mt-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="breadcumb-content">
                        <div class="breadcumb-title">
                            <h4>{{ greenery_details.name }}</h4>
                        </div>
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Breadcumb Area -->
    <!--==================================================-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-details-thumb">
                            <img src="{{ greenery_details.image|image_or_placeholder }}" alt="">
                        </div>
                        <div class="blog-details-content">
                            <div class="meta-blog">
                                <span class="mate-text">{{ greenery_details.scientific_name }}</span>
                            </div>
                            <h4 class="blog-details-title">{{ greenery_details.slug|capfirst }}</h4>

                            <p class="blog-details-desc">{{ greenery_details.description }} </p>

                            <div class="blog-details-author-talk">
                                <div class="blog-details-quote">
                                    <img src="assets/images/inner-images/blog-details-quote.png" alt="">
                                </div>
                                <div class="blog-details-author-title">
                                    <p>{{ greenery_details.types.name }}</p>
                                    <span>Types</span>
                                </div>
                            </div>


                            <p class="blog-details-desc two mt-5">{{ greenery_details.content|safe }}</p>

                            <h3 class="blog-details-title">Clean Enviromnent Policy</h3>

                            <div class="blog-details-list-item">
                                <ul>
                                    <li><i class="bi bi-check-circle-fill"></i>Promote sustainable practices to reduce
                                        pollution
                                    </li>
                                    <li><i class="bi bi-check-circle-fill"></i>Encourage recycling and waste reduction
                                        programs
                                    </li>
                                    <li><i class="bi bi-check-circle-fill"></i>Implement green energy solutions and
                                        reduce carbon footprint
                                    </li>
                                    <li><i class="bi bi-check-circle-fill"></i>Protect natural resources and promote
                                        biodiversity
                                    </li>
                                    <li><i class="bi bi-check-circle-fill"></i>Educate communities about the importance
                                        of environmental stewardship
                                    </li>
                                    <li><i class="bi bi-check-circle-fill"></i>Support conservation initiatives and
                                        sustainable land use
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}