{% extends 'website/base.html' %}
{% load static %}



{% block title %} Event Details {% endblock title %}
  

{% block content %}


<!--==================================================-->
<!-- Start  Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area mt-4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 text-center">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>{{greenery_details.name}}</h4>
					</div>
					<ul>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Breadcumb Area -->
<!--==================================================-->

<section class="event-details mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card bg-light rounded shadow-sm">
                    <img src="{{ wildlife_details.image.url }}" alt="{{ greenery_details.name }}" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title mt-2 text-success">{{ greenry_details.name }}</h5>
                        <p class="text-muted">{{ greenery_details.scientific_name }}</p>
                        <p class="text-justify">{{ greenery_details.description }}</p>
                        <p class="text-justify">{{ greenery_details.content | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}