{% extends 'website/base.html' %}

{% load static %}

{% block title %} About us {% endblock title %}

{% block content %}


    <!--==================================================-->
    <!-- Start Breadcumb Area -->
    <!--==================================================-->
    <div class="breadcumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="breadcumb-content">
                        <div class="breadcumb-title">
                            <h4>About Us</h4>
                        </div>
                        <ul>
                            <li><a href="{% url 'website:home' %}"><img
                                    src="{% static 'website/images/inner-images/breadcumb-text-shape.png' %}" alt="">GDA
                                - </a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Breadcumb Area -->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat About Area -->
    <!--==================================================-->
    <div class="about-area home-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="about-thumb">
                        <img height=600px src="{% static 'website/images/home2/galiyat-map.jpg' %}" style="width: 95%"
                             alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-right">
                        <div class="section-title left">
                            <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Get to know GDA
                            </h4>
                            <h1>Galiyat Development Authority</h1>
                        </div>
                        <div class="about-text">
                            <span><img src="{% static 'website/images/home2/shape.png' %}" alt=""></span><a href=" {% url 'departments:departments' %} ">We’ve
                            been serving Galiyat for the past 10+ years</a>
                        </div>

                        <p class="about-desc">The Galiyat Development Authority was established on 8th June 1999 as a
                            succession body of Hazara Hill Tract Improvement Trust under GDA act of 1996.</p>
                        <p class="about-desc">In 1961 under an ordinance promulgated by the then government of West
                            Pakistan vide law department notification No: Log.3 (8)/61 dated: 22-04-1961, the Rawalpindi
                            & Hazara Hill tract Improvement Trust was created and assigned the responsibility to develop
                            the abandoned Cantt: of Ghoradhakka, Khanspur, Changla Gali and Khaira Gali into hill
                            resorts. Ayubia comprising of three townships viz. Ghoradhakka / Khanspur Changla Gali and
                            Khaira Gali were taken over by the Trust for its development in 1962/63. The notified area
                            committee of Nathiagali handed over the administrative control of Nathiagali and Donga Gali
                            in the year 1970. Later on the Provincial Govt. transferred the Thandiani Township to the
                            Galiyat Development Authority as well. Creation of GDA The Galiyat Development Authority was
                            established on 8th June 1999 as a succession body of Hazara Hill Tract Improvement Trust
                            under GDA act of 1996.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End About Area -->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Counter Area -->
    <!--==================================================-->
    <div class="area mb-4">
        <div class="container mb-4">
            <div class="row mb-4">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card"> <!-- Updated ID -->
                        <div class="card-header">
                            <h4>
                                Conduct of Business
                            </h4>
                        </div>
                        <div class="p-4">
                            According to the GDA act 1996 the affairs of the Authority is governed by the Board
                            of Authority.
                            Chapter I & II of the act relates to constitution and establishment of the Authority
                            and Chapter III relates to power and function of the Authority as well chapter IV
                            and V relates to the appointment of DG and his executive powers to conduct the daily
                            business of the authority.
                            GDA building Bye-laws were approved by District Government Abbottabad during 2003.
                            Later on, in a meeting of the board of authority held on 14-05-2007, a committee
                            under the supervision of Secretary Local Govt: was constituted to reframe and amend
                            the GDA bye-laws and preparation of Bye-Laws are near completion which will very
                            shortly be placed before the committee.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card"> <!-- Updated ID -->
                        <div class="card-header">
                            <h4>
                                Function
                            </h4>
                        </div>
                        <div class="p-4">
                            The basic aim to establish the authority was to provide infrastructural and civic facilities
                            such as water supply draining waste management, roads, street lights, parking and
                            development of parks in the entire Galiyat townships beside planning/zoning of an unplanned
                            area into new resorts/township schemes.
                            To levy and collect taxes.
                            To sell, lease, exchange or dispose of any property vested in it.
                            To exercise and control building regulation through BCA and building bye-laws.
                            Tourism infrastructure development.
                            To undertake any other functions which the provincial government may assign to it.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card"> <!-- Updated ID -->
                        <div class="card-header">
                            <h4>
                                Present Status
                            </h4>
                        </div>
                        <div class="p-4">
                            Upon the devolution plan, while pending the repeal of GDA act. The GDA was devolved under
                            the District Government. But in September 2004 vide a notification bearing no.
                            AO-LG/LCB/5-58/2004, dated 21.09.2004 the provincial government reconstituted the GDA as
                            Provincial Autonomous body/entity.
                            Later on, the limits/sphere of activities of GDA has extended by provincial Government vide
                            Notification No. C/SADC/PEND/31/2000 dated 30.03.2000 to the extent of Qanoongo Circle Lora,
                            Bagan and Bekot.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Counter Area -->
    <!--==================================================-->


{% endblock content %}