{% extends 'website/base.html' %}
{% load static %}


{% block title %} Attractions {% endblock title %}

{% block content %}

<!--==================================================-->
<!-- Start Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 text-center">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>Attractions</h4>
					</div>
					<ul>
						<li><a href="index.html"><img src="{% static 'website/images/inner-images/breadcumb-text-shape.png' %}" alt="">Galiyat</a></li>
						<li>Attractions</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Breadcumb Area -->
<!--==================================================-->


<section class="feature-five mt-5">
    <div class="container">
        <div class="row">
            <!-- Feature One Single Start -->
            <div class="col-xl-4 col-lg-4">
                <div class="feature-one__single">
                    <div class="feature-one__img-box">
                        <div class="feature-one__img">
                            <img src="{% static 'website/images/attractions/attractions-1.jpg' %}" alt="Nathia Gali">
                        </div>
                        <div class="feature-one__content">
                            <div class="feature-one__icon">
                                <span class="icon-history"></span>
                            </div>
                            <h3 class="feature-one__title"><a href="#">Nathia Gali</a></h3>
                        </div>
                        <div class="feature-one__content-two">
                            <div class="feature-one__content-two-top">
                                <div class="feature-one__icon-2">
                                    <span class="icon-history"></span>
                                </div>
                                <h3 class="feature-one__title-2"><a href="#">Nathia Gali</a></h3>
                            </div>
                            <div class="feature-one__content-two-bottom">
                                <p class="feature-one__content-two-text">A serene hill station in Pakistan, 8,200 feet high,
                                    where lush greenery and a cool climate converge for a picturesque retreat.</p>
                                <div class="feature-one__content-two-btn-box">
                                    <a href="#" class="feature-one__content-two-read-more">Read More<i
                                            class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature One Single End -->
        </div>
    </div>
    
            
    <!-- Feature One Single Start -->
<div class="col-xl-4 col-lg-4">
    <div class="feature-one__single">
        <div class="feature-one__img-box">
            <div class="feature-one__img">
                <img src="{% static 'website/images/attractions/attractions-2.jpg' %}" alt="Ayubia">
            </div>
            <div class="feature-one__content">
                <div class="feature-one__icon">
                    <span class="icon-cityscape"></span>
                </div>
                <h3 class="feature-one__title"><a href="#">Ayubia</a></h3>
            </div>
            <div class="feature-one__content-two">
                <div class="feature-one__content-two-top">
                    <div class="feature-one__icon-2">
                        <span class="icon-cityscape"></span>
                    </div>
                    <h3 class="feature-one__title-2"><a href="#">Ayubia</a></h3>
                </div>
                <div class="feature-one__content-two-bottom">
                    <p class="feature-one__content-two-text">A captivating hill station in Pakistan's Galyat range,
                        celebrated for its enchanting alpine meadows and refreshing climate.</p>
                    <div class="feature-one__content-two-btn-box">
                        <a href="#" class="feature-one__content-two-read-more">Read
                            More<i class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature One Single End -->

            <!-- Feature One Single Start -->
<div class="col-xl-4 col-lg-4">
    <div class="feature-one__single">
        <div class="feature-one__img-box">
            <div class="feature-one__img">
                <img src="{% static 'website/images/attractions/attractions-3.jpg' %}" alt="Khanaspur">
            </div>
            <div class="feature-one__content">
                <div class="feature-one__icon">
                    <span class="icon-corporate"></span>
                </div>
                <h3 class="feature-one__title"><a href="#">Khanaspur</a></h3>
            </div>
            <div class="feature-one__content-two">
                <div class="feature-one__content-two-top">
                    <div class="feature-one__icon-2">
                        <span class="icon-corporate"></span>
                    </div>
                    <h3 class="feature-one__title-2"><a href="#">Khanaspur</a></h3>
                </div>
                <div class="feature-one__content-two-bottom">
                    <p class="feature-one__content-two-text">A serene haven in Pakistan,
                        offering tranquility amidst charming landscapes for a perfect getaway.</p>
                    <div class="feature-one__content-two-btn-box">
                        <a href="#" class="feature-one__content-two-read-more">Read
                            More<i class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature One Single End -->
<div class="container">
    <div class="row">
        <!-- Feature One Single Start -->
        <div class="col-xl-4 col-lg-4">
            <div class="feature-one__single">
                <div class="feature-one__img-box">
                    <div class="feature-one__img">
                        <img src="{% static 'website/images/attractions/attractions-4.jpeg' %}" alt="Dunga Gali">
                    </div>
                    <div class="feature-one__content">
                        <div class="feature-one__icon">
                            <span class="icon-history"></span>
                        </div>
                        <h3 class="feature-one__title"><a href="#">Dunga Gali</a></h3>
                    </div>
                    <div class="feature-one__content-two">
                        <div class="feature-one__content-two-top">
                            <div class="feature-one__icon-2">
                                <span class="icon-history"></span>
                            </div>
                            <h3 class="feature-one__title-2"><a href="#">Dunga Gali</a></h3>
                        </div>
                        <div class="feature-one__content-two-bottom">
                            <p class="feature-one__content-two-text">A serene haven in Pakistan, offering tranquility amidst charming landscapes for a perfect getaway.</p>
                            <div class="feature-one__content-two-btn-box">
                                <a href="#" class="feature-one__content-two-read-more">Read More<i class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature One Single End -->
        <!-- Feature One Single Start -->
        <div class="col-xl-4 col-lg-4">
            <div class="feature-one__single">
                <div class="feature-one__img-box">
                    <div class="feature-one__img">
                        <img src="{% static 'website/images/attractions/attractions-5.jpeg' %}" alt="KhairaGali">
                    </div>
                    <div class="feature-one__content">
                        <div class="feature-one__icon">
                            <span class="icon-cityscape"></span>
                        </div>
                        <h3 class="feature-one__title"><a href="#">KhairaGali</a></h3>
                    </div>
                    <div class="feature-one__content-two">
                        <div class="feature-one__content-two-top">
                            <div class="feature-one__icon-2">
                                <span class="icon-cityscape"></span>
                            </div>
                            <h3 class="feature-one__title-2"><a href="#">KhairaGali</a></h3>
                        </div>
                        <div class="feature-one__content-two-bottom">
                            <p class="feature-one__content-two-text">A captivating hill station in Pakistan's Galyat range, celebrated for its enchanting alpine meadows and refreshing climate.</p>
                            <div class="feature-one__content-two-btn-box">
                                <a href="#" class="feature-one__content-two-read-more">Read More<i class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature One Single End -->
        <!-- Feature One Single Start -->
        <div class="col-xl-4 col-lg-4">
            <div class="feature-one__single">
                <div class="feature-one__img-box">
                    <div class="feature-one__img">
                        <img src="{% static 'website/images/attractions/attractions-1.jpg' %}" alt="Thandiani">
                    </div>
                    <div class="feature-one__content">
                        <div class="feature-one__icon">
                            <span class="icon-corporate"></span>
                        </div>
                        <h3 class="feature-one__title"><a href="#">Thandiani</a></h3>
                    </div>
                    <div class="feature-one__content-two">
                        <div class="feature-one__content-two-top">
                            <div class="feature-one__icon-2">
                                <span class="icon-corporate"></span>
                            </div>
                            <h3 class="feature-one__title-2"><a href="#">Thandiani</a></h3>
                        </div>
                        <div class="feature-one__content-two-bottom">
                            <p class="feature-one__content-two-text">A beautiful hill station in Pakistan, known for its breathtaking views and serene atmosphere.</p>
                            <div class="feature-one__content-two-btn-box">
                                <a href="#" class="feature-one__content-two-read-more">Read More<i class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature One Single End -->
    </div>
</div>

</section>
<!--Feature Five End-->

{% endblock content %}
    
    