{% extends 'website/base.html' %}
{% load static %}



{% block title %} BOQS {% endblock title %}




\

{% block content %}


    <!--==================================================-->
    <!-- Start Breadcumb Area -->
    <!--==================================================-->
    <div class="breadcumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="breadcumb-content">
                        <div class="breadcumb-title">
                            <h4>Boqs</h4>
                        </div>
                        <ul>
                            <li><a href="index.html"><img
                                    src="{% static 'website/images/inner-images/breadcumb-text-shape.png' %}" alt="">Galiyat</a>
                            </li>
                            <li>Boqs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Breadcumb Area -->
    <!--==================================================-->


    <!--==================================================-->
    <div class="event-area home-five">
        <div class="container">
            <div class="row">
                {% for object in '1234' %}
                    <div class="col-lg-12">
                        <div class="single-event">
                            <div class="single-event-box">
                                <div class="event-thumb">
                                    <img src="{% static 'website/download.png' %}" style="height:100px"
                                         alt="">
                                </div>
                                <div class="event-content">
                                    <div class="event-titel">
                                        <div class="event-date">
                                                            <span><i
                                                                    class="bi bi-clock"></i>Dec 13, 2024 @ 10:00 am</span>
                                        </div>
                                        <h4>Close Encounters with African Leopards A Safari Story?</h4>
                                        <p>By <a href="#">Organizer</a> Logichunt Inc</p>
                                    </div>
                                </div>
                            </div>
                            <div class="event-desc-box">
                                <p class="event-desc">
                                    Meh synth Schlitz, tempor duis single-origin coffee ea next level
                                    ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit
                                    hella, PBR 3 wolf moon beard Helvetica. Salvia esse flexitarian
                                    Truffaut synth art party deep v chillwave coffee ea next level moon
                                    beard in
                                </p>
                                <div class="single-event-button">
                                    <a href="#">Download File<i
                                            class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>


    <!--==================================================-->
    <!-- Strat Echofy Event Area Home Five-->
    <!--==================================================-->


{% endblock content %}
    