{% extends 'website/base.html' %}

{% load static %}


{% block title %}Act{% endblock title %}


{% block content %}

<!--==================================================-->
<!-- Start Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 text-center">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>Act</h4>
					</div>
					<ul>
						<li><a href="index.html"><img src="{% static 'website/images/inner-images/breadcumb-text-shape.png' %}" alt="">GDA</a></li>
						<li>Act</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Breadcumb Area -->
<!--==================================================-->

<!--About Four Start-->
<section class="gda-act mt-5 mt-4">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="gda-act__left mb-4">
                <div>
                    <h2 class="section-title__title text-success text-center">Conduct of Business</h2><br>
                    <ul>
                        <li>According to the GDA act 1996, the affairs of the Authority are governed by the Board of Authority.</li>
                        <li>Chapter I &amp; II of the act relates to the constitution and establishment of the Authority, and Chapter III relates to the power and function of the Authority. Chapters IV and V relate to the appointment of DG and his executive powers to conduct the daily business of the authority.</li>
                        <li>GDA building Bye-laws were approved by District Government Abbottabad during 2003. Later on, in a meeting of the board of authority held on 14-05-2007, a committee under the supervision of Secretary Local Govt: was constituted to reframe and amend the GDA bye-laws, and preparation of Bye-Laws is near completion which will very shortly be placed before the committee.</li>
                    </ul>
                </div>
            </div>
            <div class="gda-act__left mb-4">
                <div>
                    <h2 class="section-title__title text-center text-success">Present Status</h2><br>
                    <ul>
                        <li>Upon the devolution plan, while pending the repeal of GDA act. The GDA was devolved under the District Government. But in September 2004 vide a notification bearing no. AO-LG/LCB/5-58/2004, dated 21.09.2004 the provincial government reconstituted the GDA as Provincial Autonomous body/entity.</li>
                        <li>Later on, the limits/sphere of activities of GDA has extended by provincial Government vide Notification No. C/SADC/PEND/31/2000 dated 30.03.2000 to the extent of Qanoongo Circle Lora, Bagan and Bekot</li>
                    </ul>
                </div>
            </div>
            <div class="gda-act__left">
                <div>
                    <h2 class="section-title__title text-center text-success">Function</h2><br>
                    <ul class="mb-4">
                        <li>The basic aim to establish the authority was to provide infrastructural and civic facilities such as water supply draining waste management, roads, street lights, parking and development of parks in the entire Galiyat townships beside planning/zoning of the unplanned area into new resorts/township schemes.</li>
                        <li>To levy and collect taxes.</li>
                        <li>To sell, lease, exchange or dispose of any property vested in it.</li>
                        <li>To exercise and control building regulation through BCA and building&nbsp;bye-laws.</li>
                        <li>Tourism infrastructure development.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>        
<!--About Four End-->

    
{% endblock content %}
    
    