{% extends 'website/base.html' %}
{% load core_tags %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block style %}

    .jumbotron {
    background-color: #f8f9fa00;
    padding: 3rem;
    border-radius: 15px;
    }
    .jumbotron h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    }
    .jumbotron p {
    font-size: 2rem;
    text-align: center;
    }
    .jumbotron span {
    font-size: 3.5rem;
    color: #18cf30;
    }

    .about-thumb {
    position: relative;
    overflow: hidden;
    }

    .about-image {
    position: relative;
    overflow: hidden;
    border: 10px solid #fff; /* White border */
    border-radius: 10px;
    }

    .about-image img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s;
    }

    .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    }

    .hover-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    }

    .hover-content {
    text-align: center;
    color: #fff;
    }

    .about-thumb:hover .image-overlay {
    opacity: 1;
    }

    .about-thumb:hover .hover-elements {
    opacity: 1;
    }

{% endblock style %}

{% block content %}

    <!--==================================================-->
    <!-- Start Hero Area -->
    <!--==================================================-->

    <div class="hero-slides owl-carousel">
        {% if home_slider %}
            {% for slider in home_slider %}
                <div class="hero-area d-flex align-items-center"
                     style="background-image: url('{{ slider.image|image_or_placeholder }}')">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="hero-content">
                                    <h4 class="sub-title" data-animation="fadeInUp" data-delay="100ms">{{ slider.tagline}}</h4>
                                    <h1 class="main-title" data-animation="fadeInUp" data-delay="400ms">{{ slider.title }}</h1>
                                    <h1 class="main-title-2" data-animation="fadeInUp" data-delay="600ms"
                                        data-duration="1000ms">Authority</h1>
                                    <p class="hero-desc" data-animation="fadeInUp" data-delay="800ms"
                                       data-duration="1000ms">
                                        {{ slider.message }}</p>
                                </div>
                                <div class="echofy-button" data-animation="fadeInUp" data-delay="1000ms">
                                    <a href="#">Let’s Talk <img
                                            src="{% static 'website/images/home1/button-shape.png' %}"
                                            alt=""></a>
                                    <img class="two" src="{% static 'website/images/home1/button-shape-2.png' %}"
                                         alt="">
                                </div>
                                <div class="echofy-button two" data-animation="fadeInUp" data-delay="1200ms">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-social-icon" data-animation="fadeInLeft" data-delay="1000ms">
                        <ul>
                            <li><a href="https://www.facebook.com/gdaabbottabad/"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="https://twitter.com/gdaabbottabad?lang=en"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/gdaabbottabad/"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="text">Follow Us</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="hero-area d-flex align-items-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="hero-content">
                                <h4 class="sub-title" data-animation="fadeInUp" data-delay="100ms">Tourist Destination
                                    of
                                    Pakistan</h4>
                                <h1 class="main-title" data-animation="fadeInUp" data-delay="400ms">Galiyat
                                    Development</h1>
                                <h1 class="main-title-2" data-animation="fadeInUp" data-delay="600ms"
                                    data-duration="1000ms">Authority</h1>
                                <p class="hero-desc" data-animation="fadeInUp" data-delay="800ms"
                                   data-duration="1000ms">
                                    Professionally optimize interdependent intellectual interoperable connect best
                                    practices. Progressively fabricate done</p>
                            </div>
                            <div class="echofy-button" data-animation="fadeInUp" data-delay="1000ms">
                                <a href="#">Let’s Talk <img src="{% static 'website/images/home1/button-shape.png' %}"
                                                            alt=""></a>
                                <img class="two" src="{% static 'website/images/home1/button-shape-2.png' %}" alt="">
                            </div>
                            <div class="echofy-button two" data-animation="fadeInUp" data-delay="1200ms">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-social-icon" data-animation="fadeInLeft" data-delay="1000ms">
                    <ul>
                        <li><a href="https://www.facebook.com/gdaabbottabad/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/gdaabbottabad?lang=en"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/gdaabbottabad/"><i class="fab fa-instagram"></i></a></li>
                        <li class="text">Follow Us</li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

    <!--==================================================-->
    <!-- End Hero Area -->
    <!--==================================================-->


    <!--==================================================-->
    <!-- Start Text Area -->
    <!--==================================================-->
    <section class="echofy-text-section" data-cues="zoomIn">
        <div class="inner-container">
            <div class="marquee">

                <div class="marquee-block">
                    <!-- content-box -->
                    <div class="content-box">
                        <h6 class="title"><span><img src="{% static 'website/images/home1/text-shape2.png' %}"
                                                     width=auto height=50px alt="">Galiyat Development Authority</span>
                        </h6>
                    </div>
                    <!-- content-box -->
                    <div class="content-box">
                        <h6 class="title"><span><img src="{% static 'website/images/home1/text-shape2.png' %}"
                                                     width=auto height=50px
                                                     alt="">Tourist Destination of Pakistan</span></h6>
                    </div>
                    <!-- content-box -->
                    <div class="content-box">
                        <h6 class="title"><span><img src="{% static 'website/images/home1/text-shape2.png' %}"
                                                     width=auto height=50px alt="">Galiyat Development Authority</span>
                        </h6>
                    </div>
                    <!-- content-box -->
                    <div class="content-box">
                        <h6 class="title"><span><img src="{% static 'website/images/home1/text-shape2.png' %}"
                                                     width=auto height=50px
                                                     alt="">Tourist Destination of Pakistan</span></h6>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!--==================================================-->
    <!-- End Text Area -->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Start Counter Area -->
    <!--==================================================-->

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Galiyat, Pakistan's hidden gem!</h1>
            <p class="lead mt-2">Join the <span class="font-weight-bold">{{ formatted_count }} </span> people who have
                explored
                our website!</p>
        </div>
    </div>


    <!--==================================================-->
    <!-- End Counter Area -->
    <!--==================================================-->

    <!--==================================================-->
    <!-- Strat About Area -->
    <!--==================================================-->

    <div class="about-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb">
                        <div class="about-image">
                            <img src="{{ chairman.image|image_or_placeholder }}" height="800px" alt="">
                            <div class="image-overlay"></div>
                            <div class="hover-elements">
                                <div class="hover-elements">
                                    <div class="hover-content">
                                        <h3 class="text-white">{{ chairman.name }}</h3><br>
                                        <h3 class="text-white">Chairman Galiyat Development Authority</h3><br>

                                        <p class="text-white">{{ chairman.message }}.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="about-right">
                        <div class="section-title left">
                            <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">About GDA</h4>
                            <h1>Preserving Nature, </h1>
                            <h1>Building Tomorrow</h1>
                        </div>
                        <div class="single-about-box">
                            <div class="about-box-icon">
                                <img src="{% static 'website/images/home1/about-icon-1.png' %}" alt="">
                            </div>
                            <div class="about-box-content">
                                <h4>Environmental Leadership</h4>
                                <p>As the Chairman of the Board of Authority at GDA, Mr. Jehanzeb Khan is leading our
                                    efforts towards a sustainable and green future. Under his guidance, we are committed
                                    to fostering economic growth while preserving our environment.</p>
                            </div>
                        </div>
                        <div class="single-about-box">
                            <div class="about-box-icon">
                                <img src="{% static 'website/images/home1/about-icon-2.png' %}" alt="">
                            </div>
                            <div class="about-box-content">
                                <h4>Commitment to Safety</h4>
                                <p>At GDA, safety and environmental sustainability go hand in hand. With Mr. Jehanzeb
                                    Khan as our Chairman, we ensure that our projects not only bring economic benefits
                                    but also create a safe environment for everyone.</p>
                            </div>
                        </div>
                        <div class="single-about-box">
                            <div class="about-box-content">
                                <h4>Chairman Board of Authority GDA</h4>
                                <p>Mr. Jehanzeb Khan is the Chairman of the Board of Authority at GDA, leading our
                                    organization towards a sustainable and prosperous future. His visionary leadership
                                    ensures that our projects are environmentally friendly and economically
                                    beneficial.</p>
                            </div>
                        </div>
                        <div class="echofy-button">
                            <a href="departments:departments">More About Us<img
                                    src="{% static 'website/images/home1/button-shape.png' %}" alt=""></a>
                            <img class="two" src="{% static 'website/images/home1/button-shape-2.png' %}" alt="">
                        </div>
                        <div class="about-shape-1">
                            <img src="{% static 'website/images/home1/about-shape-1.png' %}" alt="">
                        </div>
                        <div class="about-shape-2">
                            <img src="{% static 'website/images/home1/about-shape-2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--==================================================-->
    <!-- End About Area -->
    <div class="area-two mt-4">
        <div class="container mt-4">
            <div class="row mt-4">
                <div class="col-lg-12 text-center">
                    <div class="section-title center mt-4">
                        <h4><img src="/static/website/images/home1/section-shape.png" alt="">Weather Condition</h4>
                        <h1>Weather Condition of Galiyat</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-process-box-two style-one">
                        <div class="process-icon-thumb-two">
                            <img src="/static/website/images/icon/weather.png" style="height: 100px" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Temperature</h4>
                            <p><b>{{ weather_data.current_temperature_2m }}°C</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-process-box-two">
                        <div class="process-icon-thumb-two">
                            <img src="/static/website/images/icon/humidity.png" style="height: 100px" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Humidity</h4>
                            <p><b>{{ weather_data.current_relative_humidity_2m }}%</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-process-box-two style-three">
                        <div class="process-icon-thumb-two">
                            <img src="/static/website/images/icon/precipitation.png" style="height: 100px" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Precipitation</h4>
                            <p><b>{{ weather_data.current_precipitation }}%</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-process-box-two">
                        <div class="process-icon-thumb-two">
                            <img src="/static/website/images/icon/rain.png" style="height: 100px" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Rain</h4>
                            <p><b>{{ weather_data.current_rain }}%</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-process-box-two style-one">
                        <div class="process-icon-thumb-two">
                            <img src="/static/website/images/icon/snow.png" style="height: 100px" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Snow</h4>
                            <p><b>{{ weather_data.current_snowfall }}%</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-process-box-two">
                        <div class="process-icon-thumb-two">
                            <img src="/static/website/images/icon/wind.png" style="height: 100px" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Wind</h4>
                            <p><b>{{ weather_data.current_wind_speed_10m|floatformat:"2" }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Strat Service Area -->
    <!--==================================================-->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="section-title left">
                        <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Galiyat Attraction
                        </h4>
                        <h1>Tourist Attraction Areas in Galiyat </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="project-list-1 home-six owl-carousel">
                    {% for object in restaurant %}
                        <div class="col-lg-12 p-1">
                            <div class="single-blog-box">
                                <div class="blog-thumb">
                                    {% if object.image %}
                                        <img src="{{ object.image|image_or_placeholder }}" alt="">
                                    {% else %}
                                        <img src="https://placehold.co/200" alt="">
                                    {% endif %}
                                </div>
                                <div class="blog-content">
                                    <div class="blog-text">
                                        <span>{{ object.created_at }}</span>
                                    </div>
                                    <a href="{% url 'attractions:attraction_points' object.id %}">{{ object.name }}</a>
                                    <p>{{ object.detail|slice:100 }}...</p>

                                    <div class="blog-button">
                                        <a href="{% url 'attractions:attraction_points' object.slug %}">Explore
                                            More<i class="bi bi-arrow-right-short"></i></a>
                                    </div>
                                </div>
                                <div class="meta-blog">
                                    <span>{{ object.created_at.date }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--==================================================-->
    <!-- End Service Area -->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Skill Area -->
    <!--==================================================-->
    <div class="skill-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-title left">
                        <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Our Skills</h4>
                        <h1>Getting A Greener Future</h1>
                        <h1>Safe Environment</h1>
                        <p class="section-desc">
                            Competently cultivate worldwide e-tailers through principle-centered value
                            professionally engineer high-payoff deliverables without exceptional processes.
                            Rapidiously network cost effective vortals
                        </p>
                    </div>
                    <div class="skills-item">
                        <div class="skills-item-content">
                            <div class="skills-item-icon">
                                <i class="bi bi-check"></i>
                            </div>
                            <div class="skills-item-title">
                                <h4>Safe Environment</h4>
                            </div>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="skills-item-content">
                            <div class="skills-item-icon">
                                <i class="bi bi-check"></i>
                            </div>
                            <div class="skills-item-title">
                                <h4>Dirty Recycling</h4>
                            </div>
                        </div>
                    </div>
                    <div class="skills-content">
                        <p>Recycling</p>
                        <div class="skill-bg"></div>
                        <div class="skills html"><span class="number">90%</span></div>
                    </div>

                    <div class="skills-content">
                        <p>Ocean Cleaning</p>
                        <div class="skill-bg"></div>
                        <div class="skills css"><span class="number">80%</span></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="skills-thumb">
                        <img src="{% static 'website/images/home1/skill-thumb.png' %}" alt="">
                        <div class="skills-shape">
                            <img src="{% static 'website/images/home1/skill-shape-1.png' %}" alt="">
                        </div>
                        <div class="skills-shape-2">
                            <img src="{% static 'website/images/home1/skill-shape-2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==================================================-->
    <!-- End Skill Area -->
    <!--==================================================-->




    <!--==================================================-->
    <!-- Strat Counter Area -->
    <!--==================================================-->
    <div class="counter-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box">
                        <div class="counter-icon">
                            <img src="{% static 'website/images/home1/counter-icon-1.png' %}" alt="">
                        </div>
                        <div class="counter-content">
                            <h4 class="counter">100</h4>
                            <span>+</span>
                            <p>Team Member</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box">
                        <div class="counter-icon">
                            <img src="{% static 'website/images/home1/counter-icon-2.png' %}" alt="">
                        </div>
                        <div class="counter-content">
                            <h4 class="counter">960</h4>
                            <span>+</span>
                            <p>Complete Works</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box">
                        <div class="counter-icon">
                            <img src="{% static 'website/images/home1/counter-icon-3.png' %}" alt="">
                        </div>
                        <div class="counter-content">
                            <h4 class="counter">38</h4>
                            <p>Award Winning</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box">
                        <div class="counter-icon">
                            <img src="{% static 'website/images/home1/counter-icon-4.png' %}" alt="">
                        </div>
                        <div class="counter-content">
                            <h4 class="counter">4.7</h4>
                            <p>Avg Ratings</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==================================================-->
    <!-- End Counter Area -->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Process Area -->
    <!--==================================================-->
    {#    <div class="process-area">#}
    {#        <div class="container">#}
    {#            <div class="row align-items-center" id="poress-row">#}
    {#                <div class="col-lg-6 col-md-12">#}
    {#                    <div class="porcess-thumb">#}
    {#                        <img src="{% static 'website/images/home1/process-thumb.jpg' %}" alt="">#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-6 col-md-12">#}
    {#                    <div class="process-left">#}
    {#                        <div class="section-title left">#}
    {#                            <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Contact Us</h4>#}
    {#                            <h1>Fresh Environmental</h1>#}
    {#                            <h1>Plant & Safe Trees</h1>#}
    {#                            <p class="section-desc">#}
    {#                                Competently cultivate worldwide e-tailers through principle-centered value#}
    {#                                professionally engineer high-payoff deliverables without exceptional processes.#}
    {#                                Rapidiously network cost effective vortals#}
    {#                            </p>#}
    {#                        </div>#}
    {#                        <div class="echofy-button">#}
    {#                            <a href="contact.html">Contact Us <img#}
    {#                                    src="{% static 'website/images/home1/button-shape.png' %}" alt=""></a>#}
    {#                            <img class="two" src="{% static 'website/images/home1/button-shape-2.png' %}" alt="">#}
    {#                        </div>#}
    {#                        <div class="process-shape">#}
    {#                            <img src="{% static 'website/images/home1/about-shape-2.png' %}" alt="">#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <!--==================================================-->
    <!-- End Process Area -->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Project Area -->
    <!--==================================================-->

    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="section-title left">
                        <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Our Projects</h4>
                        <h1>Finished the Latest Leading</h1>
                        <h1>Environmental Works</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="project-list-1 home-six owl-carousel">
                    {% for object in restaurant %}
                        <div class="col-lg-12 p-1">
                            <div class="single-blog-box">
                                <div class="blog-thumb">
                                    {% if object.image %}
                                        <img src="{{ object.image|image_or_placeholder }}" alt="">
                                    {% else %}
                                        <img src="https://placehold.co/200" alt="">
                                    {% endif %}
                                </div>
                                <div class="blog-content">
                                    <div class="blog-text">
                                        <span>{{ object.created_at }}</span>
                                    </div>
                                    <a href="{% url 'attractions:attraction_points' object.id %}">{{ object.name }}</a>
                                    <p>{{ object.detail|slice:100 }}...</p>

                                    <div class="blog-button">
                                        <a href="{% url 'attractions:attraction_points' object.slug %}">Explore
                                            More<i class="bi bi-arrow-right-short"></i></a>
                                    </div>
                                </div>
                                <div class="meta-blog">
                                    <span>{{ object.created_at.date }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Project Area -->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Process Area Two-->
    <!--==================================================-->
    <div class="process-area-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title center">
                        <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Working Process</h4>
                        <h1>Building a Greener Future</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-process-box-two style-one">
                        <div class="process-icon-thumb-two">
                            <img src="{% static 'website/images/home1/process-two-icon1.png' %}" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Sustainable Solutions</h4>
                            <p>Proactively drive maintainable value in next
                                mission-critical infrastructures, eggplant,
                                and new environmental nature.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-process-box-two">
                        <div class="process-icon-thumb-two">
                            <img src="{% static 'website/images/home1/process-two-icon2.png' %}" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Renewable Energy</h4>
                            <p>Proactively drive maintainable value in next
                                mission-critical infrastructures, eggplant,
                                and new environmental nature.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-process-box-two style-three">
                        <div class="process-icon-thumb-two">
                            <img src="{% static 'website/images/home1/process-two-icon3.png' %}" alt="">
                        </div>
                        <div class="process-two-content">
                            <h4>Fresh Environment</h4>
                            <p>Proactively drive maintainable value in next
                                mission-critical infrastructures, eggplant,
                                and new environmental nature.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Process Area Two-->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Testimonial Area-->
    <!--==================================================-->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="section-title left">
                        <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Our Projects</h4>
                        <h1>Finished the Latest Leading</h1>
                        <h1>Environmental Works</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="project-list-1 home-six owl-carousel">
                    {% for object in dinning %}
                        <div class="col-lg-12 p-1">
                            <div class="single-blog-box">
                                <div class="blog-thumb">
                                    <img src="{{ object.thumbnail|image_or_placeholder }}" alt="">
                                </div>
                                <div class="blog-content">
                                    <div class="blog-text">
                                        <span>{{ object.category }}</span>
                                    </div>
                                    <a href="{% url 'diny_stay:dining_detail' object.id %}">{{ object.name }}</a>
                                    <p>{{ object.description|slice:50 }}...</p>

                                    <div class="blog-button">
                                        <a href="{% url 'diny_stay:dining_detail' object.id %}">Explore
                                            More<i class="bi bi-arrow-right-short"></i></a>
                                    </div>
                                </div>
                                <div class="meta-blog">
                                    <span>{{ object.created_at.date }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--==================================================-->
    <!-- Strat Testimonial Area-->
    <!--==================================================-->



    <!--==================================================-->
    <!-- Strat Team Area-->
    <!--==================================================-->
    <div class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title center">

                        <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Our Team</h4>
                        <h1>Meet Our Dedicated Members</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for object in director_general %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-team-box">
                            <div class="single-team-thumb">
                                <img src="{{ object.image|image_or_placeholder }}" style="height:250px" alt="">
                            </div>
                            <div class="team-content">
                                <h4>{{ object.name }}</h4>
                                <p>Director General</p>
                                <div class="team-social-icon">
                                    <p class="text-secondary p-3">{{ object.message }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for object in director %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-team-box">
                            <div class="single-team-thumb">
                                <img src="{{ object.image|image_or_placeholder }}" style="height:250px" alt="">
                            </div>
                            <div class="team-content">
                                <h4>{{ object.name }}</h4>
                                <p>Director of {{ object.department }}</p>
                                <div class="team-social-icon">
                                    <p class="text-secondary p-3">{{ object.message }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Brand Area-->
    <!--==================================================-->





{% endblock content %}