{% extends 'website/base.html' %}
{% load static %}



{% block title %} Team Details {% endblock title %}
    


{% block content %}


<!--==================================================-->
<!-- Start Echofy Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area mt-4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 text-center">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>Team Details</h4>
					</div>
					<ul>
						<li><a href="index.html"><img src="{% static 'website/images/inner-images/breadcumb-text-shape.png' %}" alt="">GDA</a></li>
						<li>Team</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Echofy Breadcumb Area -->
<!--==================================================-->


<!--Team Details Start-->
<section class="team-details">
    <div class="container">
        <div class="team-details__top">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="team-details__left">
                        <div class="team-details__img">
                            <img src="{% static 'website/images/team/team-1-2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="team-details__right">
                        <div class="team-details__top-content">
                            <h3 class="team-details__top-name">Shahrukh</h3>
                            <p class="team-details__top-title">Director Genral</p>
                            <div class="team-details__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                            <p class="team-details__top-text-1">I help my government to stand out and my city
                                people
                                help me to grow.</p>
                            <p class="team-details__top-text-2">Lorem ipsum dolor sit amet, con adipiscing elit
                                tiam
                                convallis elit id impedie. Quisq commodo simply free ornare tortor. If you are
                                going
                                to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                embarrassing hidden in the middle of text.</p>
                            <div class="team-details__contact">
                                <p>Experience: <span>26 Years</span></p>
                                <p>Email: <a href="mailto:needhelp@gmail.com">needhelp@gmail.com</a>
                                </p>
                                <p>Phone: <a href="tel:+928800680">+92 (8800) -680</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-details__bottom">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="team-details__bottom-left">
                        <h4 class="team-details__bottom-left-title">Personal experience</h4>
                        <p class="team-details__bottom-left-text">If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there isn't anything embarrassing hidden.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="team-details__bottom-right">
                        <div class="team-details__progress">
                            <div class="team-details__progress-single">
                                <h4 class="team-details__progress-title">Consultation</h4>
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="90%">
                                        <div class="count-text">90%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details__progress-single">
                                <h4 class="team-details__progress-title">Insured</h4>
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="46%">
                                        <div class="count-text">46%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details__progress-single">
                                <h4 class="team-details__progress-title">Dealing</h4>
                                <div class="bar marb-0">
                                    <div class="bar-inner count-bar" data-percent="28%">
                                        <div class="count-text">28%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Team Details End-->

{% endblock content %}