{% extends 'website/base.html' %}
{% load core_tags %}
{% load static %}

{% block title %}
    {{ object.name }}
{% endblock title %}


{% block style %}



{% endblock style %}


{% block content %}

    <!--==================================================-->
    <!-- Start Breadcumb Area -->
    <!--==================================================-->
    <div class="breadcumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="breadcumb-content">
                        <div class="breadcumb-title">
                            <span><img src="{{ object.thumbnail|image_or_placeholder }}" alt=""></span>
                            <h4>{{ object.name }}</h4>
                        </div>
                        <ul>
                            <li><a href="#"><img
                                    src="{% static 'website/images/inner-images/breadcumb-text-shape.png' %}" alt="">Galiyat</a>
                            </li>
                            <li>{{ object.name }} Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================================================-->
    <!-- End Breadcumb Area -->
    <!--==================================================-->

    <section class="event-details-section">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-details-content">
                                <div class="meta-blog">
                                </div>
                                <p class="blog-details-desc">{{ object.description }}</p>
                                <p class="blog-details-desc">{{ object.content|safe }}</p>
                                       <h3 class="text-success mt-4 text-center">Our Guests</h3>
                                <div class="row">
                                    {% if object.guest_set.all %}
                                        {% for guest in object.guest_set.all %}
                                            <div class="col-lg-4 col-md-6">
                                                <div class="single-team-box">
                                                    <div class="single-team-thumb">
                                                        <img src="{{ guest.image|image_or_placeholder }}" alt="">
                                                    </div>
                                                    <div class="team-content">
                                                        <h4>Connie Diaz</h4>
                                                        <p>CEO &amp; Founder</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-lg-4 col-md-6">
                                        <b class="text-danger text-center">Guest Not Added yet</b>
                                        </div>
                                    {% endif %}
                                </div>
                                <div style="width: 100%">
                                    <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0"
                                            marginwidth="0"
                                            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{ object.latitude }},{{ object.longitude }}+(My%20Business%20Name)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                                        <a href="https://www.gps.ie/">gps vehicle tracker
                                        </a>
                                    </iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="widget-sidber">
                                <div class="widget_search">
                                    <form action="{% url 'events:event_list' %}"
                                          method="get">
                                        <input type="text" name="name" value="" placeholder="Search Here"
                                               title="Search for:">
                                        <button type="submit" class="icons">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="widget-sidber">
                                <div class="widget-sidber-content">
                                    <h4>Categories</h4>
                                </div>
                                <div class="widget-category">
                                    <ul>
                                        {% for category in event_type %}
                                            <li>
                                                <a href="{% url 'events:event_list' %}?event_type={{ category.id }}"><img
                                                        src="{% static 'website/images/inner-images/category-icon.png' %}"
                                                        alt="">{{ category.name }}<i class="bi bi-arrow-right"></i></a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <div class="widget-sidber">
                                <div class="widget-sidber-content">
                                    <h4>Latest Events</h4>
                                </div>

                                {% for attraction in latest_events %}
                                    <div class="sidber-widget-recent-post">
                                        <div class="recent-widget-thumb">
                                            <img src="{{ attraction.thumbnail|image_or_placeholder }}"
                                                 style="height: 50px" alt="">
                                        </div>
                                        <div class="recent-widget-content">
                                            <a href="{% url 'events:event_detail' attraction.slug %}">{{ attraction.name }}</a>
                                            <p class="text-secondary">{{ attraction.description|slice:60 }} .....</p>
                                            <p> {{ attraction.created_at.date }}</p>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title center">
                    <h4><img src="{% static 'website/images/home1/section-shape.png' %}" alt="">Images</h4>
                    <h1>Images of {{ object }}</h1>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="project-list-2 owl-carousel mb-4">
                {% if  object.eventimage_set %}
                    {% for image in object.eventimage_set.all %}

                        <div class="col-lg-12 mb-4">
                            <div class="single-project-box">
                                <div class="project-thumb">
                                    <img src="{{ image.image|image_or_placeholder }}" alt="">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-12 text-center"><b>Images not uploaded Yet</b></div>
                {% endif %}

            </div>
        </div>
    </div>

        <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Function to remove the disabled class from navigation buttons and dots
            function removeDisabled() {
                var disabledElements = document.querySelectorAll(' .owl-dots.disabled');
                disabledElements.forEach(function (element) {
                    element.classList.remove('disabled');
                });
            }

            var owlDots = document.querySelectorAll('.owl-dots');

            // Loop through each element with the class "owl-dots"
            owlDots.forEach(function (dot) {
                // Remove the "disabled" class
                dot.classList.remove('disabled');

                // Add click event listener to each dot
                dot.addEventListener('click', function () {
                    // Remove the "disabled" class when a dot is clicked
                    dot.classList.remove('disabled');
                });
            });

            // Call the function initially
            removeDisabled();

            // Check for and remove the disabled class every 5 seconds
            setInterval(removeDisabled, 1); // 5000 milliseconds = 5 seconds
        });

    </script>


{% endblock content %}
    